# ./.env

# Common
DEBUG_LOGGING="true"

# Telegram
TELEGRAM_BOT_API_TOKEN="bot-token"

# PostgreSQL service
DB_HOST="0.0.0.0"
DB_PORT="5432"
DB_USER="db_user"
DB_PASSWORD="db_password"
DB_NAME="db_name"
DB_SSL_MODE="disable"

# Backend
BACKEND_PROTOCOL_PREFIX="http"
BACKEND_HOST="localhost"
BACKEND_PORT="8080"
API_TOKEN="backend-token"